*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

/* utility */
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    background-color: lightgray;
    color: black;
    z-index: 2;
}

/* style  */
.main-container {
    width: 90%;
    height: 70vh;
    margin: 15vh auto;
}
.slider-container {
    position: relative;
    width: 80%;
    height: 100%;
}

#prev-arrow {
    top: 0.5rem;
}

#next-arrow {
    bottom: 0.5rem;
}

.slider {
    height: 100%;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.slider-container .showed {
    display: block;
}

.thumbnails-container {
    position: relative;
    height: 100%;
    width: 20%;
}

.thumbnails {
    height: 100%;
}

.thumbnails img {
    object-fit: cover;
    height: calc(100% / 5);
    width: 100%;
    display: block;
    background-color: black;
    filter: opacity(0.3);
}


img.highlight {
    filter: opacity(1);
    border: 2px solid lightgray;
}