*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

.slider-container {
    margin: 10vh auto;
    width: 50vw;
    height: 80vh;
}

.slider {
    height: 100%;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}