*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

/* utility */
.d-none {
    display: none;
}
.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    background-color: lightgray;
    color: black;
}

/* style  */
.slider-container {
    position: relative;
    margin: 10vh auto;
    width: 70vw;
    height: 80vh;
}

#prev-arrow {
    top: 1rem;
}

#next-arrow {
    bottom: 1rem;
}

.slider {
    height: 100%;
}

.slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.slider-container .showed {
    display: block;
}